* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box
}
.bg-green {
  background-color: green;
  padding: 10% 0;
}
.bg-cyan {
  background-color: cyan;
  padding-top: 20px;
  width: 80%;
  min-height: 300px;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

input, button {
  border: 1px solid black;
  padding: 1px 3px;
  border-radius: 2px;
}
input:focus,button:focus{
  outline: none;
}

ul {
  margin: 20px 0 0 40px;
}

ul button {
  margin: 2px 0;
}

h1 {
  margin-bottom: 20px;
}
/* 
button:hover {
  hover:none;
} */